/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #f0f0f0;
    margin-bottom: 30px;
}

.header-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    color: #333;
    font-size: 2.5em;
}

header p {
    color: #666;
}

/* Navegación principal */
.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.nav-link:hover {
    background-color: #666;
    transform: scale(1.1);
}

.nav-link:active {
    background-color: #999;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: scale(0.9);
}

/* Navegación secundaria */
.subnav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.subnav-list li {
    margin-right: 20px;
}

.subnav-link {
    color: #333;
    text-decoration: none;
}

.subnav-link:hover {
    color: #555;
}

/* Contenedor principal */
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* targetas */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Ajuste para centrar horizontalmente */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;
    max-width: 800px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.details {
    padding: 20px;
}
.card {
    margin-bottom: 20px; 
}

/* Texto descriptivo */
.special-text {
    font-family: 'Georgia', serif;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.special-text h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Descripción */
.description {
    font-size: 16px;
    color: #777;
    text-align: justify;
}
